@model IEnumerable<MyLand.Models.Listing>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <form asp-action="Create">
        <input type="submit" value="Create" class="btn btn-danger" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingActive)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingPhoto)
            </td>
            <th>
                @if(item.ListingActive == 1) { @Html.Raw("Active") }
                else{ @Html.Raw("Inactive") }
            </th>
            <td colspan="2">
                <form asp-action="Edit" asp-route-id="@item.ListingId">
                    <input type="submit" value="Edit" class="btn btn-danger" />
                </form>
                <form asp-action="Details" asp-route-id="@item.ListingId">
                    <input type="submit" value="Details" class="btn btn-danger" />
                </form>
                <form asp-action="Deactivate" asp-route-id="@item.ListingId">
                    <input type="submit" value="Deactivate" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
