@model IEnumerable<MyLand.Models.Property>

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <form asp-action="Create">
        <input type="submit" value="Create" class="btn btn-danger" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @{ string parsedDate = item.Date.ToString("dd/mm/yy"); }
                @Html.DisplayFor(modelItem => parsedDate)
            </td>
            <th>
                @if(item.IsActive == 1) { @Html.Raw("Active") }
                else{ @Html.Raw("Inactive") }
            </th>
            <td colspan="2">
                <form asp-action="Edit" asp-route-id="@item.Id">
                    <input type="submit" value="Edit" class="btn btn-danger" />
                </form>
                <form asp-action="Details" asp-route-id="@item.Id">
                    <input type="submit" value="Details" class="btn btn-danger" />
                </form>
                <form asp-action="Deactivate" asp-route-id="@item.Id">
                    <input type="submit" value="Deactivate" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
