@model IEnumerable<MyLand.Models.Property>

@{
    ViewData["Title"] = "Moderate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Moderate Property</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @(item.Date.ToString("HH:mm dd/mm/yy"))
            </td>
            <td>
                @(item.User?.FirstName ?? " ")  @(item.User?.LastName ?? " ")
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.IsActive)
            </th>
            <td colspan="2">
                @Html.ActionLink("Details", "Details", "Properties",
                    new
                    {
                        area = "",
                        id = item.Id
                    }, new
                    {
                        @class = "btn btn-primary"
                    })
                <form asp-action="Delete" asp-route-id="@item.Id">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
